<%- include('./partials/head', { title : <%= genre.name %> }) %> 
<body>
    <%- include('./partials/header') %>  
    <main>
        <h1><%= genre.name %> </h1>
        <br>
        <p>NAME: <%= genre.name %> </p>
        <p>RANKIG: <%= genre.ranking %> </p>

    </main>  
    
<%- include('./partials/bodyEnd.ejs') %> 